<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<configuration>

	<typeAliases>
		<typeAlias alias="user"    type="com.model2.mvc.service.domain.User"/>
		<typeAlias alias="product" type="com.model2.mvc.service.domain.Product"/>
		<typeAlias alias="search"  type="com.model2.mvc.common.Search"/>
	</typeAliases>
		 		
	<mappers>
		<mapper resource="sql/UserMapper.xml"/>
		<mapper resource="sql/ProductMapper.xml"/>
	</mappers>

</configuration>